{% extends 'main/base.html' %}

{% block title %}Create new list {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Create pages</h3>

            <form method="post" action="/create/" class="form-group">
                {% csrf_token %}
                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <button type="submit", name="save" class="btn btn-success">Submit</button>
                    </div>
                    {{form.name}}
                </div>
            </form>
    {% else %}
        <div class="btn btn-success"><a href="/login">LOGIN</a></div>

    {% endif %}
{% endblock %}